---
title: Home
heading: Welcome to the Rocky Mountain Mutual Aid Network (RMMAN)!
og:
 title: Rocky Mountain Mutual Aid Network
---

<div class="columns mt-6 is-8 is-variable is-vcentered">
    <div class="column is-two-third">
        <figure class="image is-128x128 is-pulled-right">
            <img src="/assets/brand/rmman-logo-simple.jpg">
        </figure>
        <p class="is-size-5 is-size-6-mobile">
            RMMAN is a network of Coloradans providing direct aid and
            assistance to those who need it most during these challenging times. Our platform makes it easy and rewarding to
            directly help those in need and to receive aid and support yourself!
        </p>

        <br>

        <h2 class="title is-5">What is ‘mutual aid’? What are we doing? Watch this:</h2>

        <figure class="image is-16by9">
            <iframe class="has-ratio"  width="560" height="315" src="https://www.youtube.com/embed/bIoaM95Ops8" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </figure>

    </div>
    <div class="column is-one-third">

        <!-- <h2 class="title is-4">
            Sign up to Request Aid
        </h2>

        <p>
            Do you need help with groceries? Someone to run errands for you? A little help with rent or other necessities? Let us know here.
        </p>

        <p>
            {% include btn.html href="/request" class="is-success is-large is-fullwidth" text="Request Aid" %}
        </p> -->
        <h2 class="title is-4">
           Get/Deliver Food
        </h2>

        <p>
            We’re excited to have two delivery partnerships available in the Denver metro area: one with Joy’s Kitchen in Lakewood,
            and one with Growing Home in Westminster.
        </p>

        <p>
            {% include btn.html href="/volunteer/delivery/" class="is-success is-large is-fullwidth" text="Learn More" %}
        </p>
        <hr>
        <h2 class="title is-4">
            Sign up to Offer Aid
        </h2>

        <p>
            Are you looking to offer help and provide direct aid and assistance to your neighbors and fellow Coloradans? Sign up to
            offer assistance here.
        </p>

        <p>
            {% include btn.html href="/helper" class="is-info is-large is-fullwidth" text="Offer Aid" %}
        </p>

        <hr>
        
        {% include btn.html href="https://opencollective.com/rmman" class="is-primary is-large is-fullwidth is-hidden-mobile" text="Donate / Become a Supporter" %}
        {% include btn.html href="https://opencollective.com/rmman" class="is-primary is-large is-fullwidth is-hidden-tablet" text="Donate" %}

    </div>
</div>

<div class="columns is-centered has-background-info py-5 my-5">
    <div class="column is-half">
        <h2 class="has-text-centered title is-5">Join Newsletter</h2>
        {% include newsletter-form.html class="is-warning is-light" size="medium" %}
    </div>
</div>

<div class="columns content">
    <div class="column">
        <h2 class="title">
            View The Public Aid Requests Board
        </h2>

        <p>
            {% include btn.html href="/match-financial" class="is-success" text="Financial Aid Requests Board" %}
        </p>

        <p>
            {% include btn.html href="/match" class="is-warning" text="General Aid Requests Board" %}
        </p>

    </div>
    <div class="column">

        <h2 class="title">
            Help us Build a Better World
        </h2>

        <p>
            The Rocky Mountain Mutual Aid Network (RMMAN) is dedicated to organizing and supporting mutual aid efforts across the
            Mountain West. We are looking for organizers to help us build a better world based on mutual aid, solidarity and
            community support.
        </p>

        <p>
            {% include btn.html href="/volunteer" class="is-link" text="Volunteer" %}
        </p>
    </div>
</div>


<hr>

<div class="columns">
  <div class="column is-half">
    {% include google-doc.html url="https://docs.google.com/document/d/e/2PACX-1vQUhG21mO6ahV6njQ6RB3lA_94LFoilOvganxxtFIZsd4GXfiZWwUNJMwwcR4B6av6KvBMwZ7xXq0oh/pub" %}
    </div>
</div>
