---
title: Unfulfilled Needs
permalink: /match
og:
 title: Help people in need!
 description: Directly help your neighbors in need with a helping hand.
---

<div class="tabs is-boxed is-medium is-hidden-mobile">
    <ul>
        <li class="is-active">
            <a>
                ⛑ Non-Financial Requests
            </a>
        </li>
        <li>
            <a href="{{ 'match-financial' | relative_url }}">
                💲 Financial Requests
            </a>
        </li>
    </ul>
</div>

<div class="is-hidden-tablet">
    {% include btn.html href="" class="is-disabled is-fullwidth mb-2" text="⛑ Non-Financial Requests" %}
    {% include btn.html href="/match-financial" class="is-success is-fullwidth mb-2" text="💲 Financial Requests" %}
</div>

<div class="columns">
    <div class="column">

        <h1 class="title">What am I looking at?</h1>

        <p>
            The gallery below shows a list of current requests from individuals in the Rocky Mountain Mutual Aid Network (RMMAN).
            Each request is numbered and appears as a card below which includes a name, the zip code of the request and some more
            information about the request.
        </p>

        <br>

        {% include btn.html href="https://airtable.com/shrjexLEMxfBon8RX" class="is-light" text="View Table Full Screen" %}

    </div>
    <div class="column content">

        <h1 class="title">How do I respond to a request?</h1>

        <ol>
            <li>Find the request (card) below that you are interested in responding to. Click on the card to expand the information and
            review the details of the request.</li>
            <li>If you are able to provide the type of assistance requested (in part or in whole), scroll down to the bottom of the card
            and click the link at the bottom. This will open a new window with a form to provide your contact information.</li>
            <li>A volunteer ‘matchmaker’ will respond to your offer of assistance to get some more information and then connect you with
            the individual requesting assistance. Thank you!</li>
        </ol>

    </div>
</div>

<div class="notification is-info has-text-centered">
    Want to post a request here? <a href="/request">Fill out the Request Aid form</a>.
</div>

<iframe id="form" class="airtable-embed" src="https://airtable.com/embed/shrjexLEMxfBon8RX?backgroundColor=green&viewControls=on"
    frameborder="0" onmousewheel="" width="100%" height="533"
    style="background: transparent; border: 1px solid #ccc;"></iframe>
