html body {font-family: 'Kumbh Sans', sans-serif;}

p:not(:last-of-type) {
    margin-bottom: 1em;
}

summary {
    cursor: pointer;
}

/* NAV */
nav {
    display: flex;
    padding: 2px;
}
nav a {

    padding: 4px 1rem;
    margin: 0 2px;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    nav .navbar-brand .button {
        padding: 0 0.25rem;
    }
}
@media only screen and (max-width: 1023px) {
nav #navMenu {
        position: absolute;
        top:0;
        right:0;}
}
/* Notice */
.notice {
    background-color: #dde;
    margin: 1rem;
    padding: 1rem;
}

/* Tabs */

@media only screen and (max-width: 600px) {
    .tabs {
        font-size: 1rem !important;
    }
    .tabs ul {
        flex-direction: column;
    }
    .tabs ul li {
        width: 100%;
    }
    .tabs ul li a {
        border:none;
        justify-content: flex-start;
    }
    .tabs.is-boxed ul,
    .tabs li.is-active a {
        border:none;
    }
}

/* Home */
.main-title {margin-left: 1rem; margin-top: 0.25rem; font-size:2rem;}
.cards .card p, .cards .card a{ margin-left: 3rem;}

.cards .card h2 {margin-left: 2rem;}

.card {padding: 1rem; box-shadow:none;}

/* Google Doc embed */

.gdoc > div {
    max-width: none !important;
    padding: 0;
}

/* Google Doc iframe fallback */
/* WARNING: too much content height above the iframe will cause it to shrink */
body.iframe {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.gdoc--iframe {
    display: flex;
    flex: 1 1 auto;
}

.gdoc--iframe iframe {
    width: 100%;
    border: 0;
}

/* AirTable Embeds */
body.airtable--fill {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.airtable-embed {
    display: flex;
    flex: 1 1 auto;
}
