/* Set Box Sizing learn more: https://css-tricks.com/box-sizing/ */
html { box-sizing: border-box }
*, *:before, *:after { box-sizing: inherit }
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl,
dt, dd, blockquote, address { margin: 0; padding: 0 }


html, body {font-family: 'Kumbh Sans' !important, sans-serif;}

p:not(:last-of-type) {
    margin-bottom: 1em;
}

/* Responsive helpers (mobile first!) */

@media screen and (min-width: 736px) {
    .show-mobile {
        display: none;
    }
}

/* NAV */
nav {
    display: flex;
    padding: 2px;
}
nav a {

    padding: 4px 1rem;
    margin: 0 2px;
    text-decoration: none;
}

/* Notice */
.notice {
    background-color: #dde;
    margin: 1rem;
    padding: 1rem;
}

/* Home */
.main-title {margin-left: 1rem; margin-top: 0.25rem; font-size:2rem;}
.cards .card p, .cards .card a{ margin-left: 3rem;}

.cards .card h2 {margin-left: 2rem;}

.card {padding: 1rem; box-shadow:none;}
/* Page Intro */

.intro {
    padding: 2rem;
}
.intro--2up {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}
.intro--2up .intro__content {
    padding: 1rem;
    flex: 1 0 300px;
}


.intro__content {
    max-width: 65ch;
}
.intro__content--left {
}
.intro__content--right {

}


/* Google Doc Embedding */
.gdoc--import {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.gdoc--align-left {
    margin-left: 0;
}

/* Google Doc iframe fallback */
/* WARNING: too much content height above the iframe will cause it to shrink */
body.iframe {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.gdoc--iframe {
    display: flex;
    flex: 1 1 auto;
}

.gdoc--iframe iframe {
    width: 100%;
    border: 0;
}

/* AirTable Embeds */
body.airtable--fill {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.airtable-embed {
    display: flex;
    flex: 1 1 auto;
}
