---
title: Delivery 🍎
hideTitle: true
permalink: /volunteer/delivery/
googleDoc: https://docs.google.com/document/d/e/2PACX-1vQ2AL695C-Blgd6SiUfbGeLsbuLqyUD-aLDWNitkDRA6Nrk2toVYNQKweYoZAY_-FO6nrgwixI1p2qZ/pub
links:
 -
  title: Joy's Kitchen
  url: https://www.signupgenius.com/tabs/63274dc05a4c2ecc53-rmmansignups
 -
  title: Growing Home
  url: https://www.signupgenius.com/go/10c0c4daeac2aabf8c16-volunteer
og:
 title: Help Deliver Food!
 description: >-
  Food delivery volunteer opportunities through the Rocky Mountain Mutual Aid Network
---

    <div class="columns is-centered">
        <div class="column is-one-quarter">
            <h1 class="title is-4">🍎 Volunteer Sign Up</h1>
            <div class="buttons">
                {%- for btn in page.links -%}
                {% include btn.html href=btn.url class="is-large" text=btn.title %}
                {%- endfor -%}
            </div>
        </div>
        <div class="column is-half">
            {% include google-doc.html url=page.googleDoc %}
        </div>
    </div>
