<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
        <li>
            <a href="/">RMMAN</a>
        </li>
        {% for crumb in crumbs offset: 1 %}
        {% if forloop.last %}
        <li class="is-active"><a href="#" aria-current="page">{{ page.title }}</a></li>
        {% else %}
        <li>
            <a
            href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">{{
            crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>