<footer class="footer">
    <div class="content has-text-centered">
        <div class="columns is-centered">
            <div class="column is-half">
                <h2 class="has-text-centered title is-5 mb-0">Join Newsletter</h2>
                {% include newsletter-form.html class="is-info" %}
            </div>
        </div>
        <p>
            This site and organization is built by volunteers, code available on <a href="https://github.com/Rocky-Mountain-Mutual-Aid-Network/rmman.org" target="_blank" rel="noopener noreferrer">GitHub.com</a> please help contribute!
            Say <a href="mailto:hello@rmman.org">hello@rmman.org</a>
        </p>
    </div>
</footer>