<nav class="navbar">
    <a href="/" class="navbar-brand">RMMAN</a>
    <a href="{{ 'volunteer.html' | relative_url }}" class="navbar-item">Volunteer</a>
    <a href="{{ 'request.html' | relative_url }}" class="navbar-item">Request Help</a>
    <a href="{{ 'match.html' | relative_url }}" class="navbar-item">Help Now!</a>
    <a href="{{ 'covid.html' | relative_url }}" class="navbar-item">COVID Resources</a>
    <a href="{{ 'pod.html' | relative_url }}" class="navbar-item">Neighborhood Pods</a>
    <a href="https://opencollective.com/rmman" class="navbar-end" target="_blank"><button
            class="button is-success">Donate! </button></a>
</nav>