<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="/" class="navbar-item logo">
      <img src="{{ '/assets/brand/rmman-logo-website.png' | relative_url }}" alt="RMMAN" class="is-hidden-mobile">
      <img src="{{ '/assets/brand/rmman-logo-website-small.png' | relative_url }}" alt="RMMAN" class="is-hidden-tablet">
    </a>
    <div class="navbar-item is-active">
        <div class="buttons">
          <!-- <a href="{{ 'request' | relative_url }}" class="button is-success">Request Aid</a> -->
          <a href="{{ 'volunteer/delivery/' | relative_url }}" class="button is-success">Get/Deliver Food</a>
          <a href="{{ 'helper' | relative_url }}" class="button is-info">Offer Aid</a>
        </div>
      </div>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <a href="{{ 'match-financial' | relative_url }}" class="navbar-item">View Requests</a>
      <a href="{{ 'covid' | relative_url }}" class="navbar-item">COVID Resources</a>
      <div class="navbar-item">
        <div class="buttons">
          <a href="{{ 'pods' | relative_url }}" class="button is-pod {% if page.layout == 'pods' %} is-active{% endif %}">Join a Pod</a>
          <a href="{{ 'volunteer' | relative_url }}" class="button is-light">Volunteer</a>
          <a href="https://opencollective.com/rmman" class="button is-primary" target="_blank">Donate!</a>
        </div>
      </div>
    </div>
  </div>
  <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
</nav>
<script>
  document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {

          // Add a click event on each of them
          $navbarBurgers.forEach( el => {
              el.addEventListener('click', () => {

                  // Get the target from the "data-target" attribute
                  const target = el.dataset.target;
                  const $target = document.getElementById(target);

                  // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                  el.classList.toggle('is-active');
                  $target.classList.toggle('is-active');

              });
          });
      }

  });
</script>
